<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Nth pack element...: A Case Study</title>

    <link rel="stylesheet" href="reveal.js/css/reveal.css">
    <link rel="stylesheet" href="reveal.js/css/theme/league.css" id="theme">
    <link rel="stylesheet" href="extensions/plugin/line-numbers/line-numbers.css">
    <link rel="stylesheet" href="extensions/css/highlight-styles/zenburn.css">
    <link rel="stylesheet" href="extensions/css/custom.css">

    <style>
      .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 { text-transform: none; }
    </style>

    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'reveal.js/css/print/pdf.css' : 'reveal.js/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );

      function set_address(self, remote, local) {
        if (window.location.search.match("local")) {
          self.href = local;
        } else {
          self.href = remote;
        }
      }
    </script>

    <meta name="description" content="Law of Demeter: A Practical Guide to Loose Coupling">
    <meta name="author" content="Kris Jusiak">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
          <section data-markdown="" data-background-image="images/cppcon.png">
          </section>
          <section data-markdown=""
                   data-separator="^====+$"
                   data-separator-vertical="^----+$">
          <script type="text/template">

### Agenda

* #### Motivation/Goal
<!-- .element: class="fragment" -->
* #### \<N\>th pack element...
<!-- .element: class="fragment" -->
    * #### std::get\<N\>(tuple)
    <!-- .element: class="fragment" -->
* #### Benchmarks
<!-- .element: class="fragment" -->
* #### Summary
<!-- .element: class="fragment" -->

---

##### <p style="background-color:darkblue">`darkblue background - something to remember ✓`</p>
<!-- .element: class="fragment" -->

###### Powered by [Compiler Explorer](https://godbolt.org)
<!-- .element: class="fragment" -->

==============================================================================

### Motivation - use cases

* #### Performance
<!-- .element: class="fragment" -->
* #### Reflection
<!-- .element: class="fragment" -->
* #### Serialization
<!-- .element: class="fragment" -->
* #### ...
<!-- .element: class="fragment" -->

----

### Motivation - nth_pack_element

```cpp
std::get<int>(std::tuple{1, 2, 3}); // error: ambigious
```
<!-- .element: class="fragment" -->

---

```cpp
std::get<0>  (std::tuple{1, 2, 3}); // ok
std::get<1>  (std::tuple{1, 2, 3}); // ok
std::get<2>  (std::tuple{1, 2, 3}); // ok
```
<!-- .element: class="fragment" -->

```cpp
std::get<3>  (std::tuple{1, 2, 3}); // ?
```
<!-- .element: class="fragment" -->

```cpp
                                    // error: out of range
```
<!-- .element: class="fragment" -->

----

### Motivation - nth_pack_element aka std::get


```cpp
const auto t = std::tuple{1, 2, 3}; // std::tuple<int, int, int>
```
<!-- .element: class="fragment" -->

```cpp
auto print = 
  []<auto... Ns>(auto t, auto fn, std::index_sequence<Ns...>) {
    return fn(std::get<Ns>(t)...); // nth_pack_element...
  };
```
<!-- .element: class="fragment" -->

> ☝️ std::apply
<!-- .element: class="fragment" -->

```cpp
print(t,
  [](auto... ts){ (std::print("{} ", t), ...); } 
  std::make_index_sequence<std::tuple_size_v<decltype(t)>>{}
);
```
<!-- .element: class="fragment" -->

```sh
1 2 3
```
<!-- .element: class="fragment" -->

----

### Motivation / Where are we now?

----

#### Motivation - first element

```cpp
static_assert(1 == first_pack_elment(1, 2, 3));
```
<!-- .element: class="fragment" -->

---

```cpp
constexpr auto first_pack_element =
  [](auto first, auto... args) { return first; }(args...);
```
<!-- .element: class="fragment" -->

----

#### Motivation - last element

```cpp
static_assert(3 == last_pack_element(1, 2, 3));
```
<!-- .element: class="fragment" -->

---

```cpp
static_assert(3 == (1, 2, 3));
```
<!-- .element: class="fragment" -->

```cpp
constexpr auto last_pack_element 
  = (..., args); // warning: unused-value
```
<!-- .element: class="fragment" -->

----

#### Motivation - last element

```cpp
static_assert(3 == (1, 2, 3));
```
<!-- .element: class="fragment" -->

```cpp
constexpr auto last_pack_element = (..., (args = args)); // ok
```
<!-- .element: class="fragment" -->

----

#### Motivation - first/last element

```cpp
static_assert(1 == first and 3 == last);
```
<!-- .element: class="fragment" -->

---

```cpp
constexpr auto [first, last] =
  [](auto first, auto... ts){
    return std::tuple{first, (ts, ...)};
  }(1, 2, 3);
```
<!-- .element: class="fragment" -->

----

### Motivation / What's the future like?

----

#### Motivation - first element ([P1061 - Structured Bindings can introduce a Pack](https://wg21.link/P1061))

```cpp
static_assert(1 == first);
```
<!-- .element: class="fragment" -->

---

```cpp
constexpr auto [first, ...ts] = std::tuple{1, 2, 3};
```
<!-- .element: class="fragment" -->

----

#### Motivation - last element ([P1061 - Structured Bindings can introduce a Pack](https://wg21.link/P1061))

```cpp
static_assert(3 == last);
```
<!-- .element: class="fragment" -->

---

```cpp
constexpr auto [...ts, last] = std::tuple{1, 2, 3};
```
<!-- .element: class="fragment" -->

----

#### Motivation - last element (Non-terminal variadic template parameters)

```cpp
static_assert(1 == last(1, 2, 3));
```
<!-- .element: class="fragment" -->

---

```cpp
constexpr auto last = [](auto..., auto last) { return last; };
```
<!-- .element: class="fragment" -->

----

#### Motivation - first/last element

```cpp
constexpr auto [first, ...ts, last] = std::tuple{1, 2, 3};
```
<!-- .element: class="fragment" -->

----

### Motivation - What about nth pack element...?

----

#### Motivation - nth pack element...

```cpp
constexpr auto nth = nth_pack_element<N>(1, 2, 3); // ?
```
<!-- .element: class="fragment" -->

----

#### Goal - nth pack element...

```cpp
static_assert(2 == std::get<1>(std::tuple{1, 2, 3}));
```
<!-- .element: class="fragment" data-fragment-index="0" -->

---

```cpp
template<auto N>
[[nodiscard]] constexpr decltype(auto) get(auto& t) {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
  // The goal - Explore possible solutions
  return nth_pack_element<N>(...);
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="1" -->

==============================================================================

### Goal - nth pack element...

```
nth_pack_element
  returns element at N position from a variadic pack...
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

### Goal - requirements

```cpp
static_assert(1 == nth_pack_element<0>(1, 2, 3));
```
<!-- .element: class="fragment" -->

```cpp
static_assert(2 == nth_pack_element<1>(1, 2, 3));
```
<!-- .element: class="fragment" -->

```cpp
static_assert(3 == nth_pack_element<2>(1, 2, 3));
```
<!-- .element: class="fragment" -->

```cpp
static_assert('a' == nth_pack_element<0>('a', 2, "c"));
```
<!-- .element: class="fragment" -->

```cpp
nth_pack_element<3>(1, 2, 3); // error: constraint not satisfied
```
<!-- .element: class="fragment" -->

----

### Goal - objectives

* #### Flexibility
<!-- .element: class="fragment" -->
  * #### Supports different types?
<!-- .element: class="fragment" -->

* #### Readability
<!-- .element: class="fragment" -->
  * #### Easy to follow? / How much magic is being involved?
<!-- .element: class="fragment" -->

* #### Performance
<!-- .element: class="fragment" -->
  * #### Is there an overhead? / Compilation times?
<!-- .element: class="fragment" -->

----

#### Solutions/Ideas

```cpp
template<auto N>
constexpr auto nth_pack_element([[magic]] auto..., auto nth, auto...) {
  return nth;
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

---

```cpp
template<auto N>
constexpr auto nth_pack_element(auto... args) {
  auto t = [[magic]] make_type_id{args...};
  return []<class T>(type_id<T, N>& t) { return *t; }(t);
}
```
<!-- .element: class="fragment" data-fragment-index="1" -->

---

```cpp
Language feature/extension
```
<!-- .element: class="fragment" data-fragment-index="2" -->

----

#### Solutions

* ##### Language

  * ##### std::array* (Same types only)
  <!-- .element: class="fragment" -->
  * ##### Recursion
  <!-- .element: class="fragment" -->
  * ##### Arg expansion
  <!-- .element: class="fragment" -->
  * ##### Concept expansion
  <!-- .element: class="fragment" -->

----

#### Solutions

* ##### Library

  <!-- .element: class="fragment" -->
  * ##### boost.mp11
  <!-- .element: class="fragment" -->
  * ##### boost.preprocessor
  <!-- .element: class="fragment" -->

----

#### Solutions

* ##### Languge extension

  * ##### __type_pack_element (clang)
  <!-- .element: class="fragment" -->
  * ##### @Circle (https://www.circle-lang.org)
  <!-- .element: class="fragment" -->
  * ##### Generalized pack declaration and usage ([https://wg21.link/P1858](P1858))
  <!-- .element: class="fragment" -->

----

#### std.array (same types) - https://godbolt.org/z/1G7Gj16nx

```cpp
template<auto N>
constexpr auto nth_pack_element = [](auto... args) [[nodiscard]] {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
  static_assert(N < sizeof...(args));
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
  return std::array{args...}[N]; // close to ideal syntax,
                                 // but only for the same types
```
<!-- .element: class="fragment" data-fragment-index="3" -->

```cpp
};
```
<!-- .element: class="fragment" data-fragment-index="1" -->

----

#### std.array - requirements/goals

```cpp
nth_pack_element<1>('a', 2, "c"); // error: different types 👎
```
<!-- .element: class="fragment" -->

* #### Flexibility
  - #### not really, works only for the same types
<!-- .element: class="fragment" -->

* #### Readability
  - #### yes, simple to follow
<!-- .element: class="fragment" -->

* #### Performance
  - #### fast? - it's a language feature
<!-- .element: class="fragment" -->

----

#### Recursion.1 - https://godbolt.org/z/5WqMc5bjo

```cpp
template <auto N> requires (N == 0)
[[nodiscard]] constexpr auto nth_pack_element(auto arg, auto...) {
    return arg;
}
```
<!-- .element: class="fragment" -->

```cpp
template <auto N> requires (N > 0)
[[nodiscard]] constexpr auto nth_pack_element(auto arg, auto... args) {
    return nth_pack_element<N - 1>(args...);
}
```
<!-- .element: class="fragment" -->

----

#### Recursion.1

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / yes-ish, requires a bit of magic for final case
  <!-- .element: class="fragment" -->

  * #### Performance / slow? 
  <!-- .element: class="fragment" -->

----

#### Recursion.2 - https://godbolt.org/z/vGh1nTnaq

```cpp
template<auto N, auto I = 0>
constexpr auto nth_pack_element(auto arg, auto... args) {
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
    if constexpr (I == N) { // no overloads
        return arg;
    } else if constexpr (sizeof...(args) > 0u) {
        return nth_pack_element<N, I + 1>(args...);
    }
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### Recursion.2

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / yes-ish, requires a bit of magic for final case
  <!-- .element: class="fragment" -->

  * #### Performance / Less overloads than Recursion.1
  <!-- .element: class="fragment" -->

----

#### Immediately-Invoked Function Expression (`IIFE`) - https://godbolt.org/z/aM58T1

```cpp
template<auto N>
constexpr auto unroll = [](auto expr) {
  [expr]<auto ...Is>(std::index_sequence<Is...>) {
    ((expr(), void(Is)), ...);
  }(std::make_index_sequence<N>{});
};
```
<!-- .element: class="fragment" -->

---

#### P1061 - Structured Bindings can introduce a Pack
<!-- .element: class="fragment" -->

```cpp
template<auto N>
constexpr auto unroll = [](auto expr) {
  auto [... Is] = std::make_index_sequence<N>{};
  ((expr(), void(Is)), ...);
};
```
<!-- .element: class="fragment" -->

<!-- .slide: data-background="darkblue" -->

----

#### Immediately-Invoked Function Expression (`IIFE`) - https://godbolt.org/z/aM58T1

```cpp
int main() {
  unroll<2>([]{ std::puts("CppCon 2022!"); });
}
```
<!-- .element: class="fragment" -->

---

```cpp
.LC0: .string "CppCon 2022!"
main:
  sub     rsp, 8
  mov     edi, OFFSET FLAT:.LC0
  call    puts
  mov     edi, OFFSET FLAT:.LC0
  call    puts
  xor     eax, eax
  add     rsp, 8
  ret
```
<!-- .element: class="fragment" -->

<!-- .slide: data-background="darkblue" -->

----

#### Arg expansion - https://godbolt.org/z/a8vsqM848

```cpp
template<auto N>
constexpr auto nth_pack_element(auto... args) {
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
  return [&]<auto... Ns>(std::index_sequence<Ns...>) {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
    return [](decltype((void*)Ns)..., auto* nth, auto*...) {
      return *nth;
    }(&args...);
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
  }(std::make_index_sequence<N>{});
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### Arg expansion

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / 'dark-magic'!
  <!-- .element: class="fragment" -->

  * #### Performance / fast? - no recursion
  <!-- .element: class="fragment" -->

----

#### Concept expansion (C++20) - https://godbolt.org/z/WPhe5MerW

```cpp
template <class, auto> concept prefix = true;
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
template <auto N>
constexpr auto nth_pack_element(auto... args) {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
  return [&]<auto... Is>(std::index_sequence<Is...>) {
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
    return [](prefix<Is> auto..., auto arg, auto...) {
      return arg;
    }(args...);
```
<!-- .element: class="fragment" data-fragment-index="3" -->

```cpp
  }(std::make_index_sequence<N>{});
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="1" -->

----

#### Concept expansion

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / 'dark-magic'!
  <!-- .element: class="fragment" -->

  * #### Performance / fast? - no recursion
  <!-- .element: class="fragment" -->

----

#### boost.mp11 - https://godbolt.org/z/zEM1eGqxK

```cpp
template<auto N>
constexpr auto nth_pack_element(auto... args) {
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
  return [&]<class... Ts>(mp_list<Ts...>) {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
    return [](Ts..., auto arg, auto...) {
      return arg;
    }(args...);
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
  }(mp_take_c<mp_list<decltype(args)...>, N>{});
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### boost.mp11

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / A bit better, some stuff hidden behind the library
  <!-- .element: class="fragment" -->

  * #### Performance / boost.mp11 is well optimized for compilation-times
  <!-- .element: class="fragment" -->

----

#### boost.preprocessor - https://godbolt.org/z/ervdav89b

```cpp
template <auto I> requires (I == 0)
constexpr auto nth_pack_element(auto arg, auto...) {
  return arg;
}
```
<!-- .element: class="fragment" -->

---

```cpp
template <auto I> requires (I == 1)
constexpr auto nth_pack_element(auto, auto arg, auto...) {
  return arg;
}
```
<!-- .element: class="fragment" -->

---

```cpp
...
```
<!-- .element: class="fragment" -->

----

#### boost.preprocessor - https://godbolt.org/z/ervdav89b

```cpp
#define NTH_ARG(~, N, TYPE) TYPE arg##N,
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
#define NTH_PACK_ELEMENT(~, N, TYPE)                  \
  template <auto I>                                   \
  requires(I == N) constexpr auto nth_pack_element(   \
      BOOST_PP_REPEAT(                                \
          N, NTH_ARG, TYPE))                          \
        BOOST_PP_INC(N), NTH_ARG, TYPE) TYPE...) {    \
    return arg##N;                                    \
  }
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
BOOST_PP_REPEAT(                                              \
  BOOST_PP_DEC(BOOST_PP_LIMIT_REPEAT), NTH_PACK_ELEMENT, auto \
)
```
<!-- .element: class="fragment" data-fragment-index="3" -->

```cpp
#undef nth_pack_element
#undef NTH_ARG
```
<!-- .element: class="fragment" data-fragment-index="4" -->

```cpp
template <auto N> constexpr auto nth_pack_element(auto ...args) {
  return nth_pack_element<N>(args...);
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### boost.preprocessor

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / preprocessor, text replacement
  <!-- .element: class="fragment" -->

  * #### Performance / preprocessor + Multiple overloads
  <!-- .element: class="fragment" -->

----

#### Any - https://godbolt.org/z/vravKn7h3

```cpp
template<class T, auto N> struct any { T value{}; };
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
template<auto N>
constexpr auto nth_pack_element = [](auto... args) {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
  return [&]<auto... Ns>(std::index_sequence<Ns...>) {
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
    struct : any<decltype(args), Ns>... { } _{args...};
    return []<class T>(any<T, N>& t) { return t.value; }(_);
```
<!-- .element: class="fragment" data-fragment-index="3" -->

```cpp
  }(std::make_index_sequence<sizeof...(args)>{});
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
};
```
<!-- .element: class="fragment" data-fragment-index="1" -->

----

#### Any

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / 'dark-magic'!
  <!-- .element: class="fragment" -->

  * #### Performance / fast? - no recursion
  <!-- .element: class="fragment" -->

----

#### __type_pack_element (clang) - https://godbolt.org/z/jdM6v47P1

```cpp
template<class T, auto> struct any { T value{}; };
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
template<auto N>
constexpr auto nth_pack_element = []<class.. TArgs>(TArgs... args) {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
  return [&]<auto... Ns>(std::index_sequence<Ns...>) {
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
    struct : any<TArgs, Ns>... { } _{args...}; // unique value types
    return static_cast<
      __type_pack_element<N, any<TArgs, Ns>...>&
    >(_).value;
```
<!-- .element: class="fragment" data-fragment-index="3" -->

```cpp
  }(std::make_index_sequence<sizeof...(args)>{});
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
};
```
<!-- .element: class="fragment" data-fragment-index="1" -->

----

#### __type_pack_element (clang)

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / clang extension, doesn't work with other compilers
  <!-- .element: class="fragment" -->

  * #### Performance / supported by the compiler but only works with types
  <!-- .element: class="fragment" -->

----

#### [@Cricle](https://www.circle-lang.org) - https://circle.godbolt.org/z/KGhP5aedx

```cpp
template<auto N>
[[nodiscard]] constexpr auto nth_pack_element(auto... args) {
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
  return args...[N]; // Expressiveness! 👍
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### @Cricle - goals

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / can't be much easier, but it's not C++, yet?
  <!-- .element: class="fragment" -->

  * #### Performance / fast? - it's a language feature
  <!-- .element: class="fragment" -->

----

#### Generalized pack declaration and usage ([https://wg21.link/P1858](P1858))

```cpp
template<auto N>
[[nodiscard]] constexpr auto nth_pack_element(auto... args) {
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
  return args...[N]; // Expressiveness! 👍 // Notice the difference?
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### Generalized pack declaration and usage ([https://wg21.link/P1858](P1858))

* #### Requirements
  - #### ✔️
<!-- .element: class="fragment" -->
* #### Goals
  * #### Flexibility / yes, works with different types
  <!-- .element: class="fragment" -->

  * #### Readability / can't be much easier, but it's not C++, yet?
  <!-- .element: class="fragment" -->

  * #### Performance / fast? - it's a language feature
  <!-- .element: class="fragment" -->

==============================================================================

### get\<N\>(tuple)

----

#### BTW, why get is not a member of tuple? - https://godbolt.org/z/bGz7q6fr7

```cpp
template<class... Ts> struct tuple {
  template<auto N>
   [[nodiscard]] constexpr auto get(); // instead of std::get?
  ...
```
<!-- .element: class="fragment" -->

---

```cpp
auto foo(tuple<int, int, int> t) { return t.get<0>(); } // 👍
```
<!-- .element: class="fragment" -->

```cpp
template<class... Ts> auto foo(tuple<Ts...> t) {
  return t./*template*/ get<0>(); // 👎 - missing 'template'
                                  // keyword prior to dependent
                                  // template name 'get'
}
```
<!-- .element: class="fragment" -->

```cpp
auto foo(auto t) {
  return t./*template*/ get<0>(); // 👎 - missing 'template'
                                  // keyword prior to dependent
                                  // template name 'get'
}
```
<!-- .element: class="fragment" -->

#### To avoid `.template`! / Universal Call Syntax to the rescue?
<!-- .element: class="fragment" -->

<!-- .slide: data-background="darkblue" -->

----

#### tuple - https://godbolt.org/z/a9Mbc3Mj8

```cpp
static_assert(1 == get<0>(tuple(1, 2, 3)));
static_assert(2 == get<1>(tuple(1, 2, 3)));
static_assert(3 == get<2>(tuple(1, 2, 3)));
get<3>(tuple(1, 2, 3)); // error: constraint not satisfied
````
<!-- .element: class="fragment" data-fragment-index="0" -->

---

```cpp
[[nodiscard]] constexpr auto tuple(auto... ts) {
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
  return [=](auto f) { return f(ts...); };
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="1" -->

----

#### get\<N\>(tuple) - https://godbolt.org/z/a9Mbc3Mj8

```cpp
template<auto N>
[[nodiscard]] constexpr auto get(auto t) {
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
  return t([](auto... args) {
    return nth_pack_element<N>(args...);
  });
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### Bonus - map like tuple interface - https://godbolt.org/z/bdaEvodME

```cpp
static_assert(1 == tuple(1, 2, 3)[0_c]);
static_assert(2 == tuple(1, 2, 3)[1_c]);
static_assert(3 == tuple(1, 2, 3)[2_c]);
```

---

```cpp
constexpr auto nth = tuple./*template*/ get<N>(); // 👎
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
constexpr auto nth = std::get<N>(tuple);          // ~
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
constexpr auto nth = tuple(N_c);                  // 👍
```
<!-- .element: class="fragment" data-fragment-index="3" -->

----

#### Bonus - map like tuple interface - https://godbolt.org/z/bdaEvodME

```cpp
template<class... Ts>
struct tuple : std::tuple<Ts...> {
  using std::tuple<Ts...>::tuple;
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
  [[nodiscard]] constexpr decltype(auto) operator[](const auto N) {
    return std::get<N>(*this);
  }
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
};
template<class... Ts> tuple(Ts...) -> tuple<Ts...>;
```
<!-- .element: class="fragment" data-fragment-index="0" -->

---

```cpp
static_assert(42 == 42_c);
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
template <char... Cs>
constexpr auto operator""_c() {
  auto [... Is] = std::make_index_sequence<sizeof...(Cs)>{};
  return std::integral_constant<int,
    (((Cs - '0') * std::pow(10, sizeof...(Is) - Is - 1)) + ...)
  >{};
}
```
<!-- .element: class="fragment" data-fragment-index="3" -->

----

#### [@Cricle](https://www.circle-lang.org) - https://circle.godbolt.org/z/eM56E78nb aka tuple as a language feature

```cpp
template<class... Ts>
struct tuple {
```
<!-- .element: class="fragment" data-fragment-index="0" -->

```cpp
  [[no_unique_address]] Ts... ts;
```
<!-- .element: class="fragment" data-fragment-index="1" -->

```cpp
  [[nodiscard]] constexpr decltype(auto) operator[](const auto N) {
    return ts...[N];
  }
```
<!-- .element: class="fragment" data-fragment-index="2" -->

```cpp
};
```
<!-- .element: class="fragment" data-fragment-index="0" -->

#### ☝️ Generalized pack declaration and usage ([https://wg21.link/P1858](P1858))
<!-- .element: class="fragment" data-fragment-index="3" -->

<!-- .slide: data-background="darkblue" -->

----

##### mp (https://github.com/boost-ext/mp)

```cpp
#include <ranges>
```
<!-- .element: class="fragment" -->

```cpp
template<auto N>
auto fn = [](auto list) {
  return list
    | std::views::filter([](auto i) { return i % 2; })
    | std::views::reverse
    | std::views::drop(1);
};
```
<!-- .element: class="fragment" -->

---

```cpp
static_assert(
  fn([] { return std::tuple{1, 2, 3, 4, 5, 6, 7}; })) ==
                 std::tuple{5, 3, 1}
)
```
<!-- .element: class="fragment" -->

##### https://godbolt.org/z/o8rrzGMEf
<!-- .element: class="fragment" -->

==============================================================================

### Benchmarks

> Always measure!
<!-- .element: class="fragment" data-fragment-index="0" -->

----

#### Readability

| Solution            |  |
| --------------------| ----------- |
| Arg/Concept expansion       |'dark-magic'! |
| boost.preprocessor |text replacement |
| __type_pack_element |compiler extension |

----

#### Readability

| Solution            |  |
| --------------------| ----------- |
| Recursion           |requires a bit of magic for the final case |
| boost.mp11          |better, some stuff hidden behind the library |
| @Circle/P1858       |can't be much easier, but it's not C++ |

----

### Performance - use cases

* #### A lot of tuples with less than 20 elements
<!-- .element: class="fragment" data-fragment-index="0" -->

* #### A few big tuples with more than 100/1000 elements
<!-- .element: class="fragment" data-fragment-index="1" -->

* #### A lot of tuples with both: less than 20 and more than 100/1000 elements
<!-- .element: class="fragment" data-fragment-index="2" -->

> #### C++ limitations - ATM count in thousands...
<!-- .element: class="fragment" data-fragment-index="3" -->

----

#### Performance - nth_pack_element

```ruby
int main() { // median of 3
<% (0..n-1).each do |i| %>
  nth_pack_element<<%= i %>>(<%= (1..n).to_a.join(', ') %>);
<% end %>
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

##### nth_pack_element.cpp.erb
<!-- .element: class="fragment" data-fragment-index="0" -->

---

```cpp
int main() { nth_pack_element<0>(1); }
```
<!-- .element: class="fragment" data-fragment-index="1" -->

##### nth_pack_element.cpp.1
<!-- .element: class="fragment" data-fragment-index="1" -->


```cpp
int main() {
  nth_pack_element<0>(1, 2); nth_pack_element<1>(1, 2);
}
```
<!-- .element: class="fragment" data-fragment-index="2" -->

##### nth_pack_element.cpp.2
<!-- .element: class="fragment" data-fragment-index="2" -->

##### ...
<!-- .element: class="fragment" data-fragment-index="3" -->

----

<h4><p style="color:black">GCC-12<a> - benchmark/nth_pack_element</a></h4>

<iframe src="benchmark/nth_pack_element.gcc.html" width="100%" height="500px"></iframe>

<!-- .slide: data-background="white" -->

<h6><p style="font-size:12pt; color:black">Powered by <a>http://metaben.ch</a></p></h6>

----

<h4><p style="color:black">Clang-15<a> - benchmark/nth_pack_element</a></h4>

<iframe src="benchmark/nth_pack_element.clang.html" width="100%" height="500px"></iframe>

<!-- .slide: data-background="white" -->

<h6><p style="font-size:12pt; color:black">Powered by <a>http://metaben.ch</a></p></h6>
----

<h4><p style="color:black">Circle-170<a> - benchmark/nth_pack_element</a></h4>

<iframe src="benchmark/nth_pack_element.circle.html" width="100%" height="500px"></iframe>

<!-- .slide: data-background="white" -->

<h6><p style="font-size:12pt; color:black">Powered by <a>http://metaben.ch</a></p></h6>

----

#### Performance - nth_pack_element | highlights

---

* ##### For small number of elements < 20
<!-- .element: class="fragment" -->
  * ##### Not a clean winner, a lot of noise
<!-- .element: class="fragment" -->

* ##### Recursive solutions don't scale well
<!-- .element: class="fragment" -->
  * ##### Multiple overloads slower than if constexpr
<!-- .element: class="fragment" -->

* ##### 'Clever' solutions scale quite well
<!-- .element: class="fragment" -->

* ##### @Circle approach with a language feature destroys the competition
<!-- .element: class="fragment" -->

* ##### Generalized pack declaration and usage ([https://wg21.link/P1858](P1858))?
<!-- .element: class="fragment" -->

----

#### Performance - tuple

```ruby
int main() { // median of 3
  auto t = tuple(<%= (1..n).to_a.join(', ') %>);
<% (0..n-1).each do |i| %>
  get<<%= i %>>(t);
<% end %>
}
```
<!-- .element: class="fragment" data-fragment-index="0" -->

##### tuple.cpp.erb (Special cases for std::tuple, @Circle)
<!-- .element: class="fragment" data-fragment-index="0" -->

----

<h4><p style="color:black">GCC-12<a> - benchmark/tuple</a></h4>

<iframe src="benchmark/tuple.gcc.html" width="100%" height="500px"></iframe>

<!-- .slide: data-background="white" -->

<h6><p style="font-size:12pt; color:black">Powered by <a>http://metaben.ch</a></p></h6>

----

<h4><p style="color:black">Clang-15<a> - benchmark/tuple</a></h4>

<iframe src="benchmark/tuple.clang.html" width="100%" height="500px"></iframe>

<!-- .slide: data-background="white" -->


<h6><p style="font-size:12pt; color:black">Powered by <a>http://metaben.ch</a></p></h6>

----

<h4><p style="color:black">Circle-170<a> - benchmark/tuple</a></h4>

<iframe src="benchmark/tuple.circle.html" width="100%" height="500px"></iframe>

<!-- .slide: data-background="white" -->

<h6><p style="font-size:12pt; color:black">Powered by <a>http://metaben.ch</a></p></h6>

----

#### Performance - tuple | highlights

* ##### Recursive solutions (again) don't scale well
<!-- .element: class="fragment" -->

* ##### 'Clever' solutions scale quite well
<!-- .element: class="fragment" -->

* ##### GCC and Clang std::tuple is the fastest although still slower than @Circle
<!-- .element: class="fragment" -->
  * ##### Wasn't the case for Clang before Clang-14!
<!-- .element: class="fragment" -->

* ##### @Circle's approach to a `tuple` as a language feature destroys the competition
<!-- .element: class="fragment" -->
  * ##### std::tuple is not leveraging that
<!-- .element: class="fragment" -->

----

#### Performance | notes

| Best solution (200 elements) | GCC-12        | Clang-15          | Circle-170      |
|-|-|-|-|
| nth_pack_element             |  (arg) 7.00s  | (concept) 4.28s | (@circle) 0.25s |
| tuple                        |  (std::tuple) 7.92s | (std::tuple) 5.90s | (@circle) 0.10s |

----

#### Performance | notes

| Worst solution (200 elements) | GCC-12                | Clang-15              | Circle-170           |
|-|-|-|-|
| nth_pack_element              | (rec.1) 131.52s | (rec.1) 106.28s | (rec.1) 27.73s |
| tuple                         | (rec.1) 146.02s | (rec.1)  111.62 | (rec.1) 28.83s |

----

#### How does it compare to different Languages? - https://godbolt.org/z/e7vEcfGcq

---

##### (tuple.get) <= 20 elements
<!-- .element: class="fragment" -->

<img src="images/perf3.png" style="width: 70%; background:none; border:none; box-shadow:none;" />
<!-- .element: class="fragment" -->

----

#### How does it compare to different Languages? - https://godbolt.org/z/e7vEcfGcq

---

##### (tuple.get) > 100 elements
<!-- .element: class="fragment" -->

<img src="images/perf1.png" style="width: 70%; background:none; border:none; box-shadow:none;" />
<!-- .element: class="fragment" -->

==============================================================================

### Summary

* #### Readability
<!-- .element: class="fragment" -->
  * #### 'Clever' implementations should be hidden behind tests and user friendly interfaces in libraries
<!-- .element: class="fragment" -->

* #### Performance
<!-- .element: class="fragment" -->
  * #### TMP with recursion is slow to compile
<!-- .element: class="fragment" -->
  * #### @Circle pack... manipulations are really fast to compile and scale well
<!-- .element: class="fragment" -->

* #### Lack of language features to manipulate/store variadic pack is hearting C++
<!-- .element: class="fragment" -->
  * #### C++ would benefit if tuple could be implemented much easier - ([https://wg21.link/P1858](P1858))
<!-- .element: class="fragment" -->

==============================================================================

<a href="https://cppcon.org/"><img src="images/cppcon2022.png" style="width: 60%; background:none; border:none; box-shadow:none;" /></a>

---

## Let's pack... some more language features?!

---

##### [kris@jusiak.net](mailto:kris@jusiak.net) | [@krisjusiak](https://twitter.com/krisjusiak) | [linkedin.com/in/kris-jusiak](https://www.linkedin.com/in/kris-jusiak)
          </script>
        </section>

      </div>
    </div>

    <script src="reveal.js/lib/js/head.min.js"></script>
    <script src="reveal.js/js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({

        // Display controls in the bottom right corner
        controls: false,

        // Display a presentation progress bar
        progress: false,

        // Display the page number of the current slide
        slideNumber: 'c/t',

        // Push each slide change to the browser history
        history: true,

        // Enable keyboard shortcuts for navigation
        keyboard: true,

        // Enable the slide overview mode
        overview: false,

        // Vertical centering of slides
        center: true,

        // Enables touch navigation on devices with touch input
        touch: true,

        // Loop the presentation
        loop: false,

        // Change the presentation direction to be RTL
        rtl: false,

        // Turns fragments on and off globally
        fragments: true,

        // Flags if the presentation is running in an embedded mode,
        // i.e. contained within a limited portion of the screen
        embedded: false,

        // Flags if we should show a help overlay when the questionmark
        // key is pressed
        help: true,

        // Flags if speaker notes should be visible to all viewers
        showNotes: false,

        // Number of milliseconds between automatically proceeding to the
        // next slide, disabled when set to 0, this value can be overwritten
        // by using a data-autoslide attribute on your slides
        autoSlide: 0,

        // Stop auto-sliding after user input
        autoSlideStoppable: true,

        // Enable slide navigation via mouse wheel
        mouseWheel: false,

        // Hides the address bar on mobile devices
        hideAddressBar: true,

        // Opens links in an iframe preview overlay
        previewLinks: false,

        // Transition style
        transition: 'none', // none/fade/slide/convex/concave/zoom

        // Transition speed
        transitionSpeed: 'default', // default/fast/slow

        // Transition style for full page slide backgrounds
        backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

        // Number of slides away from the current that are visible
        viewDistance: 3,

        // Parallax background image
        parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

        // Parallax background size
        parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

        // Number of pixels to move the parallax background per slide
        // - Calculated automatically unless specified
        // - Set to 0 to disable movement along an axis
        parallaxBackgroundHorizontal: null,
        parallaxBackgroundVertical: null,

        // Optional reveal.js plugins
        dependencies: [
          { src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'reveal.js/plugin/zoom-js/zoom.js', async: true },
          { src: 'reveal.js/plugin/notes/notes.js', async: true },
          { src: 'extensions/plugin/line-numbers/line-numbers.js' }
        ]
      });

      window.addEventListener("mousedown", handleClick, false);
      window.addEventListener("contextmenu", function(e) { e.preventDefault(); }, false);

      function handleClick(e) {
        if (1 >= outerHeight - innerHeight) {
          document.querySelector( '.reveal' ).style.cursor = 'none';
        } else {
          document.querySelector( '.reveal' ).style.cursor = '';
        }

        e.preventDefault();
        if(e.button === 0) Reveal.next();
        if(e.button === 2) Reveal.prev();
      }
    </script>

  </body>
</html>
